.seventv-yt-theater-mode {
	overflow: hidden !important;
	[id="columns"] {
		display: flex !important;
		max-width: 100% !important;
		margin: 0 !important;
		justify-content: space-between !important;
		width: 100% !important;
		overflow: hidden !important;

		[id="primary"] {
			padding: 0 !important;
			margin: 0 !important;
			display: flex !important;
			width: 100vw !important;
			height: 100vh !important;
			min-width: 0 !important;
			max-width: none !important;

			[id="primary-inner"] {
				width: 100% !important;
				height: 100% !important;

				[id="player"] {
					width: 100% !important;
					height: 100% !important;
					max-width: none !important;

					[id="player-container-outer"] {
						width: 100% !important;
						height: 100% !important;
						max-width: none !important;
						margin: 0 !important;
					}

					.html5-video-container, video {
						width: 100% !important;
						height: 100% !important;
						left: 0 !important;
						object-fit: contain !important;
					}

					.ytp-chrome-bottom, .ytp-chapter-hover-container {
						width: 100% !important;
						left: 0 !important;
					}

					.ytp-chrome-controls, .ytp-left-controls, .ytp-load-progress {
						width: 100% !important;
					}
				}
			}
		}

		.seventv-divisor {
			position: relative;
			height: 100vh;
			width: 0;

			div {
				height: 100vh;
				width: 1em;
				margin-left: -0.5em;
				cursor: col-resize;
				position: absolute;
				z-index: 9999;
			}
		}

		[id="secondary"] {
			padding: 0 !important;
			min-width: 0 !important;
			width: var(--ytd-watch-flexy-sidebar-width);
		}
	}

	ytd-page-manager[id="page-manager"] {
		margin: 0 !important;
	}

	[id="player-container"] {
		height: 100vh !important;
	}

	[id="contents"] {
		.seventv-overlay .seventv-clickable-overlay-child {
			left: 9.5rem !important;
		}
	}

	ytd-live-chat-frame {
		height: 100vh !important;
		padding: 0 !important;
	}

	[id="info"], [id="meta"], [id="comments"], [id="related"], [id="masthead-container"] {
		display: none !important;
	}

	video.video-stream.html5-main-video {
		width: 1328px;
		height: 969px;
		background-color: black;
	}

}

.seventv-yt-theater-mode-button-container {
	display: inline-block;
	width: 2.4rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;

	img {
		width: 2.4rem;
		height: 1.8rem;
		margin-bottom: 1.5rem;
	}
}
