version: 2
updates:
    # Fetch and update latest `npm` packages
    - package-ecosystem: npm
      directory: "/"
      target-branch: master
      schedule:
          interval: daily
          time: "00:00"
      pull-request-branch-name:
        separator: "-"
      open-pull-requests-limit: 10
      commit-message:
          prefix: fix
          prefix-development: chore
          include: scope
      labels:
        - "skip changelog check"
    # Fetch and update latest `github-actions` pkgs
    - package-ecosystem: github-actions
      directory: "/"
      target-branch: master
      schedule:
          interval: daily
          time: "00:00"
      pull-request-branch-name:
        separator: "-"
      open-pull-requests-limit: 10
      commit-message:
          prefix: fix
          prefix-development: chore
          include: scope
      labels:
        - "skip changelog check"
