%seventv-flair-pulsating {
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--seventv-primary);
		clip-path: circle(50% at 50% 50%);
		animation: seventv-pulse-ring 2s ease infinite;
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--seventv-primary);
		clip-path: circle(50% at 50% 50%);
		animation: seventv-pulse-dot 2s ease -0.4s infinite;
	}
}

@mixin flair-pulsating($color: white) {
	@extend %seventv-flair-pulsating;

	&::before {
		background-color: $color;
	}
	&::after {
		background-color: $color;
	}
}

@keyframes seventv-pulse-ring {
	0% {
		transform: scale(0);
	}
	80%,
	100% {
		opacity: 0;
		transform: scale(5);
	}
}

@keyframes seventv-pulse-dot {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.35);
	}
	100% {
		transform: scale(1);
	}
}
