#seventv-root {
	z-index: 1;
}

#seventv-tooltip-container {
	all: unset;
	z-index: 99999;
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	background-color: var(--seventv-background-transparent-2);
	backdrop-filter: blur(0.88em);
	outline: 0.1em solid var(--seventv-border-transparent-1);
	border-radius: 0.25em;
}

.tw-root--theme-dark {
	--seventv-text-color-normal: #f0f0f0;
	--seventv-text-color-secondary: #f0f0f078;
	--seventv-highlight-neutral-1: #8080803b;
	--seventv-background-transparent-1: #161616c4;
	--seventv-background-transparent-2: #1b1b1bc4;
	--seventv-border-transparent-1: #ffffff1a;
}

.tw-root--theme-light {
	--seventv-text-color-normal: #161616;
	--seventv-text-color-secondary: #161616b3;
	--seventv-highlight-neutral-1: #cfcfcf9e;
	--seventv-background-transparent-1: #f7f7f7c4;
	--seventv-background-transparent-2: #e7e7e7c4;
	--seventv-border-transparent-1: #0000001a;
}
