.seventv-ban-slider {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;

    .outer {
        height: 100%;
        .behind {
            position: absolute;
            background-color: var(--color-border-input);
            height: 100%;
            min-width: 0;
            transition-timing-function: linear;
            box-shadow: inset 0.3em 0.2em 0.3em black;

            .text {
                position: relative;
                overflow: hidden;
                white-space: nowrap;
                float: left;
                text-indent: 1rem;
                vertical-align: middle;
                max-width: 100%;
                padding-top: 1rem;

            }
        }
    
        .grabbable-outer {
            height: 100%;
            display: flex;
            width: 2rem;
            pointer-events: all;
            cursor: grab;
            .grabbable-inner {
                border: 0.05rem outset var(--color-border-input);
                border-radius: 0.2rem;
                margin: 0.4rem;
                width: 100%;
                display: inline-flex;
                align-items: center;
                .dots {
                    background-image: radial-gradient(circle, var(--color-border-input) 0.1rem, transparent 0.2rem);
				    background-size: 100% 33.33%;
                    height: 1.8rem;
                    width: 1rem;
                }
            }
        }
        .unban-icon {
            display: inline-flex;
            position: absolute;
            align-items: center;
            opacity: 0;
            top: 0;
            right: -40px;
            width: 30px;
            height: 100%;
            transition: opacity 0.2s ease;
            .img {
                height: 100%;
                width: 100%;
            }
        }
    }   
}