.seventv-emote-menu {	
	position: absolute;

	.seventv-emote-menu-header {
		background-color: var(--seventv-color-background-1);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-radius: 0.4rem;
	}
	.seventv-emote-menu-scrollable {
		background-color: var(--seventv-color-background-0);
		padding-top: 1em;
		border-radius: 0.6rem;
		width: 30rem;
		height: 30rem;
		overflow: auto;
	}
	.seventv-emote-menu-tab {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		min-height: 3em;

		&.selected {
			border-bottom: 0.1rem solid white !important;
		}
	}
	.seventv-emote-menu-emote-list-section {
		margin-top: 1em;
		margin-left: 1em;
	}
	.seventv-emote-menu-category-header {
		display: flex;
		width: 100%;
		justify-content: center;
		font-size: 1.65rem;

		border-style: solid;
		border-bottom-width: 0.1rem;
		border-color: white;
	}
	.seventv-emote-menu-emote-list {
		display: flex;
		flex-wrap: wrap;

		margin-top: 1em;
		margin-right: .25em;
		margin-left: 1.25em;
		margin-bottom: 1em;

		span {
			margin-right: .2em;
			margin-left: .2em;
			margin-top: .1em;
			margin-bottom: .1em;
		}
	}
	.seventv-emote-menu-search {
		background-color: var(--seventv-background-color);

		input {
			width: 95%;
			height: 3em;
			color: white;
			border-color: white;
			border-width: 0.1rem;
			border-style: solid;
			border-radius: 0.4rem;
			background-color: var(--seventv-color-background-1);
			padding: .5em;
	
			&:focus {
				outline: none !important;
				border: 0.1rem solid rgb(0, 195, 255) ;
				box-shadow: 0 0 1rem rgb(0, 195, 255) !important;
			}
		}
	}
}