$borderRadius: 8px;

$space-xs: 5px;
$space-sm: 10px;
$space-md: 18px;
$space-lg: 25px;

$select-inactive-color: #767676;

.seventv-settings-menu {
	width: 80vw;
	height: 60vh;
	pointer-events: all;
	border-radius: $borderRadius;
	max-width: 96em;
	overflow: hidden;

	background-color: var(--seventv-color-background-0);
	&.seventv-sm-backdrop-blur {
		background-color: var(--seventv-color-tooltip);
		backdrop-filter: blur(10px);
	}

	display: flex;
	flex-direction: column;

	.seventv-sm-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 5rem;
		padding: $space-sm $space-lg;
		background-color: var(--seventv-color-background-1);

		.seventv-sm-header-left {
			height: 100%;
			display: flex;
			align-items: center;

			img {
				height: 100%;
				margin-right: $space-sm;
			}

			.seventv-sm-title {
				font-size: 2.5rem;
			}
		}

		.seventv-sm-header-right {
			display: flex;

			.seventv-sm-socials {
				display: flex;
				align-items: center;
				padding: 0px $space-sm;
				margin-right: $space-lg;

				.seventv-sm-cta {
					margin-right: $space-sm;
				}

				.seventv-sm-social-list {
					display: flex;
					align-items: center;
					justify-content: space-around;
				}

				.seventv-sm-social-icon {
					cursor: pointer;

					img {
						width: 3rem;
						height: 3rem;
					}
				}
			}
			
			.close-icon {
				cursor: pointer;
				display: flex;
				align-items: center;
			}
		}
	}

	.seventv-sm-content {
		overflow-y: scroll;

		.seventv-sm-options {
			overflow: auto;
			display: flex;
			flex-direction: column;

			.form-list {
				padding: 1em;
			}
		}
	}

	.seventv-sm-footer {
		display: flex;
		justify-content: end;
		align-items: center;
		height: 3rem;
		padding: $space-sm $space-lg;
		background-color: var(--seventv-color-background-1);

		.seventv-sm-appinfo {
			span {
				font-size: .95rem;

				&:not(:last-child) {
					margin-right: $space-sm;
				}
			}
		}
	}

	.seventv-sm-options {
		.seventv-sm-option-select {
			margin-left: 15px;

			.seventv-sm-select-label {
				margin-bottom: $space-xs;
			}

			.MuiMenuItem-root:hover {
				background-color: var(--seventv-color-background-0);
			}

			.Mui-focused {
				fieldset {
					border-color: var(--seventv-primary-color);
				}

				svg {
					fill: var(--seventv-primary-color);
				}
			}

			fieldset {
				border-color: $select-inactive-color;
			}

			svg {
				fill: $select-inactive-color;
			}
		}
	}
}

.seventv-settings-button {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 0.5em;
	padding-left: 1em;
}