$borderRadius: 8px;

.seventv-settings-menu {
	width: 80vw;
	height: 60vh;
	pointer-events: all;
	border-radius: $borderRadius;
	max-width: 96em;

	background-color: var(--seventv-color-background-0);
	&.seventv-sm-backdrop-blur {
		background-color: var(--seventv-color-tooltip);
		backdrop-filter: blur(10px);
	}

	display: flex;
	flex-direction: row;

	.seventv-sm-sidebar {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 200px;
		flex-grow: 0;
		background-color: var(--seventv-color-background-1);
		border-bottom-left-radius: $borderRadius;

		.seventv-sm-logo {
			background-color: var(--seventv-color-background-0);
			border-bottom-right-radius: 3em;
			height: min-content;
			width: 100px;
		}

		.seventv-sm-tabs {
			display: flex;
			flex-direction: column;
			align-content: space-between;
			height: 100%;

			.seventv-sm-tablist {
				display: flex;
				flex-grow: 1;
			}
	
			.seventv-sm-appinfo {
				display: flex;
				flex-direction: column;
				flex-shrink: 1;
				flex-wrap: wrap;
				text-align: center;
				justify-content: center;
				margin-bottom: 1em;

				span {
					font-size: .95rem;
				}
			}
		}
	}

	.seventv-sm-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		height: 100%;
		width: 100%;

		.seventv-sm-heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 48px;
			width: 100%;
			background-color: var(--seventv-color-background-1);
			backdrop-filter: blur(10px);
			border-top-right-radius: $borderRadius;

			.seventv-sm-titlebox {
				display: flex;

				span {
					margin-left: 1em;
					font-size: 2em;
				}
			}

			.close-icon {
				cursor: pointer;
			}
		}

		.seventv-sm-options {
			display: flex;
			flex-direction: column;

			.form-list {
				padding: 1em;
			}
		}
	}
}

.seventv-settings-button {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 0.5em;
	padding-left: 1em;
}