/** 7TV Stylesheets -  Tooltip Component */

.seventv-emote-tooltip {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--seventv-color-tooltip);
	border-radius: 6px;
	padding: 0.5em;

	width: fit-content;
	height: fit-content;
	min-width: 8em;
	max-width: max-content;
	min-height: 8em;

	z-index: 99999999;
}

.seventv-emote-tooltip-wrapper {
	position: absolute;
	height: 0px;
}
