/** 7TV Stylesheets -  Tooltip Component */

.seventv-emote-tooltip {
	display: flex;
	flex-direction: column;
	background-color: #3b3b44ad;
	border-radius: 6px;

	width: fit-content;
	height: fit-content;
	min-width: 12em;
	max-width: max-content;
	min-height: 12em;

	z-index: 99999999;
}
