/** 7TV Stylesheets -  Tooltip Component */

.seventv-emote-tooltip {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--seventv-color-tooltip);
	border-radius: 0.6rem;
	padding: 0.1em;

	width: fit-content;
	height: fit-content;
	min-width: 12em;
	max-width: max-content;
	min-height: 12em;

	z-index: 99999999;
}

.seventv-emote-tooltip-wrapper {
	position: absolute;
	height: 0px;
}

.seventv-tooltip-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
	padding-right: 3em;
	max-width: 27rem;

	.item-name {
		font-size: 1.25em;
		margin-bottom: 0.1rem;
		word-wrap: break-word;
		color: currentColor;
	}

	.emote-hint {
		font-size: .85em;
	}

	.is-7tv-emote {
		font-size: 1.6em;
	}

	.is-7tv-global {
		width: 100%;
		color: #b2ff59;
	}
}

.seventv-tooltip-provider {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: .4em;
	padding-left: 3.2rem;

	img {
		max-width: 2.8rem;
	}
}

.seventv-tooltip-image {
	margin: 1em;

	display: flex;
	justify-content: center;

	img {
		max-width: 22.8rem;
		max-height: 7.6rem;
	}
}

.seventv-tooltip-small {
	.seventv-emote-tooltip {
		min-height: 0;
		min-width: 0;
	}

	.seventv-emote-tooltip {
		padding-right: 0;
	}
	.seventv-tooltip-details .item-name {
		font-size: 1em;
	}

	.seventv-tooltip-image {
		margin: 0 !important;
		img {
			display: none;
		}
	}
}