/** 7TV Stylesheets -  Tooltip Component */

.seventv-emote-tooltip {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--seventv-color-tooltip);
	border-radius: 6px;

	width: fit-content;
	height: fit-content;
	min-width: 12em;
	max-width: max-content;
	min-height: 12em;

	z-index: 99999999;
}
