<mat-toolbar class="d-flex flex-row justify-content-between" [appColor]="themingService.bg.darken(.4)" [isBackground]="true">
	<!-- App Title -->
	<div class="d-flex align-items-center" [routerLink]="['/']">		
		<div class="no-select app-title" [class.is-loading]="appService.loading">
			<!-- Logo -->
			<div class="_logo"></div>
			

			<span class="_text">{{appService.title}}</span>

			<!-- Environment Indicator -->
			<span *ngIf="!isEnvironmentProd" class="_dev-stage-text env-offset" [appColor]="themingService.colors.primary._env[envName]">
				{{envName | uppercase}}.
			</span>
			<!-- Dev Stage Indicator -->
			<span class="text-nowrap _dev-stage-text">{{appService.devStage}}</span>
		</div>
	</div>

	<!-- Navigation Buttons -->
	<div class="nav-button-list">
		<div [routerLink]="btn.path" [routerLinkActive]="['selected']" matRipple class="nav-button d-flex flex-grow-1 align-items-center" *ngFor="let btn of navButtons">
			<!-- Icon -->
			<mat-icon class="_icon"> {{btn.icon}} </mat-icon>
			<!-- Name -->
			<span class="_name">
				{{btn.name | uppercase}}
			</span>

			<!-- Select Indicator -->
			<div class="_select_indicator" routerLinkActive="selected">
				<div class="_line"></div>
			</div>
		</div>
	</div>
</mat-toolbar>