@use './Components/Tooltip.scss';
@use './Components/ChatInput.scss';

.seventv-overlay {
	display: flex;
	position: absolute;
	background-color: transparent;

	pointer-events: none;

	.seventv-clickable-overlay-child {
		pointer-events: all;
	}
}

// This hides the emote buttons created by Twitch
.chat-line__message--emote-button {
	display: none;
}

.emoji {
	height: 19.5px !important;
}

.seventv-mention {
	font-weight: bold;
}

.seventv-emote-menu {
	.seventv-emote-menu-header {
		background-color: var(--color-background-body)
	}

	.seventv-emote-menu-scrollable {
		background-color: var(--color-background-base);
	}
}
