@use './Components/Tooltip.scss';
@use './Components/ChatInput.scss';
@use './Components/Settings.scss';

$bgColorDark0: rgb(50, 50, 50);
$bgColorDark1: darken($bgColorDark0, 5);
$bgColorDarkHighlight0: lighten($bgColorDark0, 2.5);
$bgColorDarkTooltip: transparentize(darken($bgColorDark0, 10), 0.25);

$bgColorLight0: rgb(225, 225, 225);
$bgColorLight1: lighten($bgColorLight0, 5);
$bgColorLightHighlight0: darken($bgColorLight0, 2.5);
$bgColorLightTooltip: transparentize($bgColorLight0, 0.2);

$primaryColor: #0288D1;
$accentColor: #b2ff59;

.tw-root--theme-dark {
	--seventv-color-background-0: #{$bgColorDark0};
	--seventv-color-background-1: #{$bgColorDark1};
	--seventv-color-background-hl0: #{$bgColorDarkHighlight0};
	--seventv-color-tooltip: #{$bgColorDarkTooltip};
	--seventv-primary-color: #{$primaryColor};
	--seventv-accent-color: #{$accentColor};
}
.tw-root--theme-light {
	--seventv-color-background-0: #{$bgColorLight0};
	--seventv-color-background-1: #{$bgColorLight1};
	--seventv-color-tooltip: #{$bgColorLightTooltip};
	--seventv-primary-color: #{$primaryColor};
	--seventv-accent-color: #{$accentColor};
}

.seventv-overlay {
	display: flex;
	position: absolute;
	background-color: transparent;

	pointer-events: none;

	.seventv-clickable-overlay-child {
		pointer-events: all;
	}
}

// This hides the emote buttons created by Twitch
.chat-line__message--emote-button {
	display: none;
}
.chat-image-wrapper {
	display: none;
}

.emoji {
	height: 19.5px !important;
}

.seventv-message-context > :first-child {
	margin-right: 0.25em;
}

.seventv-text-fragment + .seventv-emote {
	margin-right: 0.25em;
}

.seventv-emote + .seventv-text-fragment:not(.seventv-text-empty) {
	margin-right: 0.25em;
}

.seventv-mention {
	font-weight: bold;
}

.seventv-emote.seventv-zerowidth {
	z-index: 50;
}

.seventv-emote.seventv-next-is-zerowidth {
	span {
		position: absolute;
		width: 0px;
	}
}

.seventv-emote.seventv-emote-unlisted {
	filter: blur(8px);
}

.seventv-emote-menu {
	.seventv-emote-menu-header {
		background-color: var(--seventv-color-background-1);
	}

	.seventv-emote-menu-scrollable {
		background-color: var(--seventv-color-background-0);
	}

	.seventv-emote-search, input {
		width: 100%;
		height: 3em;
		color: white;
		border-color: white;
		border-width: 1px;
		border-style: solid;
		border-radius: 4px;
		background-color: var(--seventv-color-background-1);
		padding: .5em;

		&:focus {
			outline: none !important;
			border: 1px solid rgb(0, 195, 255) ;
			box-shadow: 0 0 10px rgb(0, 195, 255) !important;
		}
	}
}

.seventv-badge-list {
	img {
		height: 18px;
	}
}