@use './Components/Tooltip.scss';
@use './Components/ChatInput.scss';
@use './Components/Settings.scss';
@use './Components/EmoteMenu.scss';
@use './Components/YouTube/TheaterMode.scss';

$bgColorDark0: rgb(50, 50, 50);
$bgColorDark1: darken($bgColorDark0, 5);
$bgColorDarkHighlight0: lighten($bgColorDark0, 2.5);
$bgColorDarkTooltip: transparentize(darken($bgColorDark0, 10), 0.25);

$bgColorLight0: rgb(225, 225, 225);
$bgColorLight1: lighten($bgColorLight0, 5);
$bgColorLightHighlight0: darken($bgColorLight0, 2.5);
$bgColorLightTooltip: transparentize($bgColorLight0, 0.2);

$primaryColor: #0288D1;
$accentColor: #b2ff59;

.tw-root--theme-dark,
ytd-app,
yt-live-chat-app,
div[id="contents"],
div[id="content"]
{
	--seventv-text-color: white;
	--seventv-color-background-0: #{$bgColorDark0};
	--seventv-color-background-1: #{$bgColorDark1};
	--seventv-color-background-hl0: #{$bgColorDarkHighlight0};
	--seventv-color-tooltip: #{$bgColorDarkTooltip};
	--seventv-primary-color: #{$primaryColor};
	--seventv-accent-color: #{$accentColor};
}
.tw-root--theme-light {
	--seventv-text-color: black;
	--seventv-color-background-0: #{$bgColorLight0};
	--seventv-color-background-1: #{$bgColorLight1};
	--seventv-color-tooltip: #{$bgColorLightTooltip};
	--seventv-primary-color: #{$primaryColor};
	--seventv-accent-color: #{$accentColor};
}

.seventv-overlay {
	display: flex;
	position: absolute;
	background-color: transparent;
	color: var(--seventv-text-color);

	pointer-events: none;

	.seventv-clickable-overlay-child {
		pointer-events: all;
	}
	.seventv-overlay-main {
		width: 100vw;
		height: 100vh;
		background-color: transparent;
		z-index: 99999999;
	}
}

.seventv-yt {
	.seventv-emote {
		margin: -0.5rem 0;
		position: relative;
		vertical-align: middle;
	}
}

// This hides the emote buttons created by Twitch
.chat-line__message--emote-button {
	display: none;
}
.chat-image-wrapper {
	display: none;
}

.emoji {
	height: 19.5px !important;
}

.seventv-message-context > :first-child {
	margin-right: 0.25em;
}

.seventv-message-mentioned {
	background-color: rgba(255, 0, 0, 0.25);
}

.seventv-text-fragment + .seventv-emote {
	margin-right: 0.25em;
}

.seventv-emote + .seventv-text-fragment:not(.seventv-text-empty) {
	margin-right: 0.25em;
}

.seventv-mention {
	font-weight: bold;
}

.seventv-emote.seventv-zerowidth {
	z-index: 50;
}

.seventv-emote.seventv-next-is-zerowidth {
	span {
		position: absolute;
		width: 0px;
	}
}

.seventv-emote.seventv-emote-unlisted {
	filter: blur(8px);
}

.seventv-menu-button {
	cursor: pointer !important;
	display: flex;
	justify-content: center;
	width: var(--button-size-default);
	height: var(--button-size-default);
	position: relative;

	%tooltip {
		background-color: white;
		color: #000;
		text-align: center;		
		padding: 2px 0;
		border-radius: 4px;
		font-weight: 600;
		
		position: absolute;
		width: 7em;
		left: 50%;
		margin-left: -3.5em;
	
		visibility: hidden;
		opacity: 0;
		transition:opacity 0.1s ease-in 0.2s;
	
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			pointer-events: none;
		}
	}

	.tooltip-under {
		@extend %tooltip;
		top: 135%;

		&:after {
			bottom: 100%;
			border-color: transparent transparent white transparent;
		}
	}

	.tooltip-over {
		@extend %tooltip;
		bottom: 135%;

		&:after {
			top: 100%;
			border-color: white transparent transparent transparent;
		}
	}
  
	&:hover {
		border-radius: 4px;
		background-color: var(--color-background-button-text-hover);
		color: var(--color-fill-button-icon-hover);

		.tooltip-under {
			visibility: visible;
			opacity: 1;
		  }
		
		.tooltip-over {
			visibility: visible;
			opacity: 1;
		}
	}

	button {
		border: 0;
		background: transparent;
		color: white;
		width: var(--button-size-default);
		height: var(--button-size-default);
		text-align: center;

		&:hover {
			color: var(--color-fill-button-icon-hover);
		}
	}
}

.seventv-badge-list {
	img {
		height: 18px;
	}
}
