@use './Components/Tooltip.scss';
@use './Components/ChatInput.scss';

.seventv-overlay {
	display: flex;
	position: absolute;
	background-color: transparent;

	pointer-events: none;

	.seventv-clickable-overlay-child {
		pointer-events: all;
	}
}

// This hides the emote buttons created by Twitch
.chat-line__message--emote-button {
	display: none;
}

.emoji {
	height: 19.5px !important;
}

.seventv-mention {
	font-weight: bold;
}

.seventv-emote.seventv-zerowidth {
	width: 0px;
	position: absolute;
	z-index: 1;
}

.seventv-emote-menu {
	.seventv-emote-menu-header {
		background-color: var(--color-background-body)
	}

	.seventv-emote-menu-scrollable {
		background-color: var(--color-background-base);
	}

	.seventv-emote-search, input {
		width: 100%;
		height: 3em;
		color: white;
		border-color: white;
		border-width: 1px;
		border-style: solid;
		border-radius: 4px;
		background-color: transparent;
		padding: .5em;

		&:focus {
			outline: none !important;
			border: 1px solid rgb(0, 195, 255) ;
			box-shadow: 0 0 10px rgb(0, 195, 255) !important;
		}
	}
}
